.background-green {
    background-color: #8cb63c;
    padding: 1.35rem;
}

.background-green a {
    text-decoration: none;
    color: #9BB800;
    transition: color 0.20s;
}

.background-green p {
    color: #000;
    margin: 0 auto;
    padding-top: 5px;
}

.footer {
    background-color: #005881;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 10px 10rem;
}

.footer .s-12 {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.footer .corpy {
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
}

.developer .text-size-12 {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.developer p {
    margin: 0 auto;
    display: inline-block;
    padding-right: 25px;
}