header {
        background-color: #fff;
        position: relative;
        right: 0;
        left: 0;
}

.header-container {
       background-color: #005881;
       color: #fff;
       height: 60px;
       position: sticky;
       display: flex;
       justify-content: center;
       align-items: center;    
}

.header-container nav {
        display: flex;
        float: right;
        position: relative;
}

.header-container ul {
    margin: 0;
}

.header-container nav ul li {
    display: inline-block;
    width: 160pt;
}

.header-container nav ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
