
.card-container {
    padding: 0px 50px 10px 50px;
}

.card-container h2 {
    line-height: 5;
    color: #005881;
    font-weight: bold;
    font-family: Arial, sans-serif, "Open sans";
    margin: 0px 0px;
    text-align: center;
} 

.card-container p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px 0px 50px 0px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 120%;
}

.section {
    padding: 1rem 5rem;
    background-color: #002633;
    margin: 0 -50px 0px ;
}

.section .line h2 {
    color: #fff;
    font-size: 3rem;
    letter-spacing: -1px;
    margin-bottom: 35px !important;
    font-weight: 300;
    text-align: center; 
} 

.line p{
    margin-top: -47px;
    display: inline-flex;
    align-items: center;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 34%;
    margin-left: 16vmin;
    padding-left: 25px;
    color: #fff;
    font-weight: 100;
}

.line .paragrafo {
    margin-top: -47px;
    margin-left: 14vmax;
    display: inline-flex;
    align-items: center;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 24%;
    min-width: 37%;
    color: #fff;
    font-weight: 300;
}

.background-blue {
    background-color: #005c9b;
    margin: 0 -49px 30px;
}

.background-blue .local-evento {
    color: rgba(255,255,255, 0.75);
}

.s-12 {
     width: 100%;
}

.s-12 img {
        border: 0;
        height: auto;
        max-width: 50%;
        width: auto;
}
 
.padding {
    padding: 1.25rem;
    display: block
}

h3 {
    margin-top: -50px;
    margin-bottom: 15px;
    padding-left: 19cm;
}

.headline {
    font-size: 2.6rem;
    letter-spacing: -2px;
    color: #fff;
}

.text-line {
    line-height: 1;
}

h4{
    font-size: 1.4rem;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
    display: block;
    padding-left: 19cm;
    margin-block-start: 0.83em;
    margin-block-end: 1.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-size {
    color: #fff;
}

.text-height {
    line-height: 1;
}

.title .paragrafo {
    color: rgb(182, 174, 174);
    font-size: 1.0rem;
    line-height: 1.25rem;
    padding-bottom: 0;
    font-weight: bold;
    padding-left: 19cm;
}

.map-center {
    width: 100%;
    display: block;
    float: none;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: space;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.Background-white {
    padding: 3rem 1.25rem;
    background-color: #fff;
}

.div-line {
    margin: 0 auto;
    padding: 0 0.625rem;
    max-width: 71.25rem;
}

.text-center {
    text-align: center;
}

@media screen and (max-width : 480px) {
    .l-12 { 
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .m-6 {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .l-16 {
        width: 50%;
    }
}


/*.section .titulo-h3 h3 {
    color: #fff;
    font-weight: 300;
    letter-spacing: -2px;
    margin-bottom: 10px;
    margin-left: 16rem;
}*/

/*

border: 1px solid #d5d5d5;
    border-radius: 4px;
    width: 300p
    x;
    height: 300px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
*/